page-home {
    .title {
        text-align: center;
    }
    .explain-text {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        color: #424242;
        margin-top: 4px;
    }
    ion-item {
        padding: 0 !important;
    }
    .item-inner {
        padding-right: 0 !important;
    }
    .datetime-md {
        padding: 13px 0 !important;
    }
    .add-button {
        width: 100%;
        padding: 0;
        margin: 0.4rem 0;
        font-size: 1.8rem;
    }
    ion-label {
        font-size: 2rem;
        font-weight: 500;
        color: #424242 !important;
    }
    .label-md {
        margin: 13px 0;
    }
    .text-input-md {
        margin: 13px 0;
        padding: 0;
        width: 100%;
    }
    .user-input {
        font-size: 1.8rem;
        font-weight: 500;
        color: #424242 !important;
    }
    .item-datetime .item-inner .input-wrapper {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
    }
    .list-md {
        margin: 0;
    }
    ion-item-sliding ion-item .item-inner .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #DEDEDE;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #DEDEDE;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}